<ion-view view-title="My TV Show app - Home">
  <ion-content class ="padding" >
	
    <div class="list">
		<div class="item item-input-inset">
		  <label class="item-input-wrapper">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="search" ng-model="search.string" placeholder="ex: Game of Thrones" >
		   
		  </label>
		   <button on-tap="controller.getShows()" class="button button-outline button-calm button-small">Search</button>
		</div>
		    <!--on-tap="controller.viewSerie({{serie.id}})"-- href ="#/serieDetails/{{serie.id}}"-->
		<ion-list>
		  <ion-item class="item-icon-right"
		     ng-repeat="serie in series"
		     ui-sref="serie({ serieId: serie.id })"
			 on-tap="controller.viewSerie({{serie}})"
			>
		     {{ serie.name }}
			<i class="icon ion-chevron-right icon-accessory"></i>
		   </ion-item>
		</ion-list>
		 <ion-infinite-scroll
		 ng-if="firstTime"
		on-infinite="controller.loadMore()"
		distance="1%">
		</ion-infinite-scroll>

	</div>
  </ion-content>
</ion-view>