<ion-view view-title="My TV Show app - Home">
  <ion-content class ="padding" >
	
    <div class="list">
		<div class="item item-input-inset">
		  <label class="item-input-wrapper">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="search" ng-model="search.string" placeholder="ex: Game of Thrones" >
		   
		  </label>
		   <button on-tap="controller.getShows()" class="button button-outline button-calm button-small">Search</button>
		</div>
		    <!--on-tap="controller.viewSerie({{serie.id}})"-- href ="#/serieDetails/{{serie.id}}"-->
		<ion-list ng-repeat="serie in series">
		  <ion-item class="item item-thumbnail-left item-icon-right"
		     
		     ui-sref="serie({ serieId: serie.imdbID })"
			 on-tap="controller.viewSerie({{serie}})"
			>
			  <img src="{{serie.Poster}}" alt="Poster" height="42" width="30">
		     {{ serie.Title }}
			<i class="icon ion-chevron-right icon-accessory"></i>
		   </ion-item>
		    
		</ion-list>
		


	</div>
  </ion-content>
</ion-view>